.banner-tems {
  padding-top: 200px;
  padding-bottom: 40px;
  background: url(http://landing.engotheme.com/html/skyline/demo/images/Reservation/header.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-tems .banner-content h2 {
  font-size: 36px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.banner-tems .banner-content p {
  font-size: 20px;
  color: white;
  font-weight: 300;
}
