.section-about {
    background-color: #fff;
    padding-bottom: 70px;
    padding-top: 45px;
}
.section-about .wrap-about {
    margin-top: -40px;
}
.section-about .wrap-about .about-item {
    margin-top: 45px;
}
.about-item {
    overflow: hidden;
}
.section-slider {
    position: relative;
}
.about-item .text {
    padding-left: 40px;
    margin-top: 35px;
    padding-right: 52px;
}
.about-item .text h2 {
    line-height: 1.2em;
    font-size: 36px;
    color: #333333;
}
.about-item .text .desc {
    margin-top: 20px;
    color: #333333;
    font-size: 15px;
}
.about-item .text .desc p {
    line-height: 1.5em;
    margin: 0;
}
.section-about .wrap-about .about-item {
    margin-top: 45px;
}
.about-item {
    overflow: hidden;
}
.about-item.about-right .img {
    float: right;
    width: 100%;
}
.about-item .img img {
    width: 100%;
}
.about-item.about-right .text {
    float: right;
    padding-left: 30;
    padding-right: 100px;
    margin-top: 55px;
}
.about-item .text h2 {
    line-height: 1.2em;
    font-size: 36px;
    color: #333333;
}
.section-statistics {
    padding-top: 55px;
    padding-bottom: 80px;
    background: url(http://landing.engotheme.com/html/skyline/demo/images/About/about-2.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    position: relative;
    width: 100%;
}
.section-statistics:before {
    background: #363635;
    content: '';
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
}
.section-statistics .statistics {
    z-index: 99;
    position: relative;
}
.section-statistics .heading, .section-statistics .body-restaurant-1 .restaurant_title .heading, .body-restaurant-1 .restaurant_title .section-statistics .heading {
    color: #ffffff;
    font-size: 36px;
    text-transform: uppercase;
}
.section-statistics .statistics .col:before {
    top: 35%;
    right: 0;
    bottom: 0;
    position: absolute;
    content: '';
    border-right: 1px solid #a5a4a4;
}
.section-statistics .item1 {
    margin-top: 45px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}
.section-statistics .item1 .count {
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    display: block;
    line-height: 1.3em;
}
.section-team {
    background-color: #fff;
    padding-bottom: 75px;
    padding-top: 41px;
}
.section-team .heading, .section-team .body-restaurant-1 .restaurant_title .heading, .body-restaurant-1 .restaurant_title .section-team .heading {
    color: #333333;
    text-transform: uppercase;
    font-size: 36px;
}
.section-team .sub-heading {
    color: #333333;
    font-size: 20px;
}

.team_item {
    margin-top: 70px;
    position: relative;
}
.team_item:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    margin: auto;
    width: 0;
    content: '';
    border-bottom: 1px solid #f1f1f1;
}
.team_item .img {
    max-width: 200px;
    overflow: hidden;
    margin: auto;
    position: relative;
    border-radius: 100%;
}
.team_item .img img {
    width: 100%;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1, 1.1);
}
.team_item .text {
    margin-top: 35px;
}
.team_item .text h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
}
.team_item .text span {
    color: #898989;
    font-size: 16px;
    display: block;
    margin-top: 7px;
}
.team_item .text p {
    margin-top: 15px;
    margin-bottom: 0;
    color: #30373b;
    line-height: 1.5em;
    font-size: 15px;
}
.team_item .text .team-share {
    font-size: 0;
    margin-top: 23px;
}
.team_item .text .team-share a {
    font-size: 18px;
    display: inline-block;
    color: #898989;
    margin: 0 13px;
}

