.body-page.page-v1 {
    background: url(http://landing.engotheme.com/html/skyline/demo/images/Login/login.jpg) no-repeat center center;
    background-size: cover;
}
.body-page {
    background: url(http://landing.engotheme.com/html/skyline/demo/images/404page/404page.jpg) no-repeat center center;
    width: 100%;
    text-align: center;
    background-size: cover;
    position: relative;
}
.body-page.page-v1 .content {
    max-width: 450px;
    width: 100%;
    padding-top: 290px;
}
.body-page .content {
    padding-top: 287px;
    padding-bottom: 340px;
    max-width: 580px;
    margin: 0 auto;
}
.body-page.page-v1 .content .sky-h3 {
    font-family: "Poppins", Arial, sans-serif;
}
.sky-h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-top: 15px;
}
.body-page.page-v1 .content .p-v1 {
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
    margin-top: 17px;
    margin-bottom: 48px;
    color: #FFF;
    line-height: 23px;
}
.body-page .content .form-group {
    position: relative;
    width: auto;
    display: inline-block;
}
.form-group {
    margin-bottom: 15px;
}
.body-page.page-v1 .content .form-control {
    width: 430px;
    height: 43px;
    /* background-color: transparent; */
    border: 2px solid white;
    -webkit-border-radius: 0px;
    border-radius: 10px;
    color: #191616;
    padding-left: 17px;
    padding-right: 17px;
    margin: 0 auto;
}
.body-page.page-v1 .content .btn {
    margin-bottom: 28px;
    margin-top: 15px;
    width: 200px;
    height: 42px;
    background: transparent;
    border: 2px solid white;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.body-page.page-v1 .content p {
    font-size: 14px;
    color: #FFF;
}
.container:after {
    clear: both;
}

