.post {
    position: relative;
}
.post .entry-media {
    position: relative;
}
a {
    text-decoration: none;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-video .btn-play {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .3s;
    background: url(http://landing.engotheme.com/html/skyline/demo/images/Blog/Shape-101.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
  
  
  animation-name:btnplay;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;
}
.btn-play:hover{
    width: 70px;
    height: 70px;
    background: url(http://landing.engotheme.com/html/skyline/demo/images/Blog/Shape-1101.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
@keyframes btnplay{
    from {
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
.modal-content{
    background:none;
}

.section-video .modal-video {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transform: scale(2);
    transition: all .5s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.section-video .modal-video iframe {
    position: relative;
    top: 150px;
    width: 700px;
    max-width: 90%;
    display: block;
    margin: 0 auto;
    border: none;
}

