.btn-room {
  color: #fff;
  font-size: 12px;
  height: 38px;
  background: #8e7037;
  line-height: 24px;
  border-radius: 0px;
  font-weight: 600;
  box-shadow: none;
}

.img-detail > img {
  height: 390px;
  object-fit: cover;
}

.body-room-4 .wrap-room-4 .wrap-item:hover .img-room img {
  transform: scale(1.2, 1.2);
  transition: all 0.5s ease-in-out;
}

.body-room-4 .wrap-room-4 .wrap-item .img-room img {
  transition: all 0.5s ease-in-out;
}

.wrap-item:hover .img:before {
  opacity: 0.7;
  overflow: visible;
}

.wrap-item .img > img:hover {
  background: #211d1d;
}

.body-room-4 {
  padding-top: 50px;
  padding-bottom: 95px;
}

section {
  display: block;
}

.body-room-4 .wrap-room-4 .wrap-item {
  margin-bottom: 100px;
}

.body-room-4 .wrap-room-4 .wrap-item .img {
  position: relative;
}

.body-room-4 .wrap-room-4 .wrap-item .img:before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  position: absolute;
  content: "";
  opacity: 0;
  pointer-events: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
.body-room-4 .wrap-room-4 .wrap-item .text-room-4 {
  padding-left: 0px;
  margin-left: -42px;
}
.body-room-4 .wrap-room-4 .wrap-item .text-room-4 .text {
  padding: 25px 60px 85px 100px;
}
.body-room-4 .wrap-room-4 .wrap-item .text-room-4 .text h2 {
  font-size: 36px;
}
.h2-rooms {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Poppins", Arial, sans-serif;
  color: #333;
}
.body-room-4 .wrap-room-4 .wrap-item .text-room-4 .text h5 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 33px;
}
.h5-room {
  font-size: 14px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}
.body-room-4 .wrap-room-4 .wrap-item .text-room-4 .text p {
  color: #898989;
  font-size: 15px;
  font-weight: 400;
}
p {
  margin: 0 0 10px;
}
.line {
  background: #8e7037;
}
.body-room-4 .wrap-room-4 .wrap-item .img-room {
  position: relative;
  overflow: hidden;
}
.body-room-4 .wrap-room-4 .wrap-item .img-room img {
  transition: all 0.5s ease-in-out;
}
