.about.about-v4 {
    margin-bottom: 6rem;
    margin-top: 134px;
}

.about.about-v2 {
    text-align: center;
    margin-bottom: 55px;
}
.about {
    margin-top: 85px;
    margin-bottom: 155px;
}
.about .about-title {
    font-size: 48px;
    font-weight: 400;
    margin-left: 50px;
    font-family: 'Playfair Display', serif;
    margin-right: 60px;
}
.about.about-v2 .line-v2 {
    width: 100px;
}
.line-v2 {
    margin: auto;
    height: 2px;
    background: #8e7037;
    margin-top: 22px;
    margin-bottom: 40px;
    margin-right: 434px;
}
.about.about-v2 .about-p, .about.about-v2 .about-p1 {
    font-size: 18px;
}
.about .about-p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0px;
    padding-right: 0px;
}
.about.about-v2 .about-p, .about.about-v2 .about-p1 {
    font-size: 18px;
}
.about .about-p1 {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 55px;
    padding-right: 20px;
}
.about.about-v4 .img-v4 {
    margin-top: 50px;
}
.about.about-v4 img {
    width: 100%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px)
.about .about-centent {
    text-align: center;
}