.rooms{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #F2F2F2;
}

.ourroom{
    font-size: 48px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.outline{
    width: 100%;
    height: 25px;
    background: url(http://landing.engotheme.com/html/skyline/demo/images/Home-1/icon-our.png) no-repeat center center;
    margin-top: 10px;
}

.room-p{
    color: #ABABAB;
    font-weight: 300;
    font-size: 25px;
    width: 48%;
    margin: 0 auto;
    margin-top: 15px;
}

.wrap-rooms{
    margin-top: 25px;
}


